body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 770px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("img/header__back.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/header__back.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  min-height: 770px;
  color: #ffffff;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.naavigation__item {
  margin-left: 5px;
}

.navigation__addres {
  color: #ffffff;
  font-size: 0.875rem;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 770px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-middle h1 {
  font-size: 3rem;
  text-align: center;
}

.header-middle h2 {
  font-size: 1.25rem;
  color: white;
  text-align: center;
}

.header__btn {
  margin-top: 5%;
  width: 15%;
  height: 100%;
  text-align: center;
  position: relative;
}

.header__btn .btm__a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 1rem;
}

.header__btn .btm__a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300%;
  border: 1px solid white;
  top: -18px;
  left: -3px;
}

@media screen and (max-width: 696px) {
  .header__btn .btm__a::after {
    height: 200%;
  }
}

.services-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 500px;
  background-color: white;
}

.services-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #555555;
}

.services-container h2 {
  font-size: 1.25rem;
  margin-bottom: 6%;
  position: relative;
  color: #555555;
}

.services-container h2::after {
  content: "";
  position: absolute;
  width: 50px;
  border-bottom: 2px solid #707070;
  top: 50px;
  left: 25%;
}

.services-container span {
  margin-bottom: 6%;
  font-size: 1rem;
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__item {
  min-height: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

.service__item:first-child {
  margin-left: 0;
}

.item__img {
  margin: 0 auto;
}

.item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.item__title {
  text-align: center;
  font-size: 0.875rem;
}

.item__text {
  text-align: center;
  min-height: 82px;
  line-height: 24px;
  font-size: 0.875rem;
}

.about-us-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 852px;
  background-color: #f8f8f8;
}

.about-us-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 852px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #555555;
}

.about-us-container h2 {
  font-size: 1.25rem;
  margin-bottom: 6%;
  position: relative;
  color: #555555;
}

.about-us-container h2::after {
  content: "";
  position: absolute;
  width: 50px;
  border-bottom: 2px solid #707070;
  top: 50px;
  left: 25%;
}

.about-us__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__item {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  min-height: 133px;
  text-align: left;
}

.about-us__team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-us__img {
  position: relative;
}

.about-us__img .about-us__imgItem {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.about-us__img .about-us__info {
  position: absolute;
  width: 100%;
  height: 98%;
  background-color: rgba(85, 85, 85, 0.5);
  top: 0;
  visibility: hidden;
}

.about-us__img .about-us__info img {
  width: 28px;
  height: 28px;
}

.about-us__info:hover {
  visibility: visible;
}

.about-us__img:hover .about-us__info {
  visibility: visible;
}

.latest-work-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100%;
}

.latest-work-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-work-container h2 {
  font-size: 1.25rem;
  margin-bottom: 6%;
  position: relative;
  color: #555555;
}

.latest-work-container h2::after {
  content: "";
  position: absolute;
  width: 50px;
  border-bottom: 2px solid #707070;
  top: 50px;
  left: 53px;
}

.latest-work__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 36%;
  min-width: 300px;
  margin-bottom: 2%;
}

.latest-work__filter .latest-work__addres {
  color: #555555;
}

.latest-work__filter .latest-work__addres:active {
  color: #c0301c;
}

.latest-work__filter .active {
  color: #c0301c;
}

.latest-work__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}

.latest-work__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.NotFilter {
  display: none;
}

.do-you-like-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 369px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.5)), to(rgba(192, 48, 28, 0.5))), url("img/doyoulike.jpg") no-repeat center center;
  background: linear-gradient(rgba(192, 48, 28, 0.5), rgba(192, 48, 28, 0.5)), url("img/doyoulike.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.do-you-like__title {
  font-size: 1.875rem;
  color: white;
}

.do-you-like__btn a {
  color: white;
  font-size: 1.125rem;
  position: relative;
  text-align: center;
}

.do-you-like__btn a::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 200%;
  border: 1px solid white;
  top: -10.5px;
  left: -32.09px;
}

.blod-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.blog-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-container h2 {
  font-size: 1.25rem;
  margin-bottom: 6%;
  position: relative;
  color: #555555;
}

.blog-container h2::after {
  content: "";
  position: absolute;
  width: 50px;
  border-bottom: 2px solid #707070;
  top: 50px;
  left: 82px;
}

.blog__item {
  margin-top: 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 76px;
  position: relative;
}

.blog__item::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  bottom: -38px;
  left: 0;
}

.blog__item:last-child::after {
  margin-bottom: 0;
  border-bottom: none;
}

.blog__img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.blog__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.blog__side {
  width: 60%;
  min-height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60%;
  max-height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5px;
}

.blog__data {
  border: 2px solid #555555;
  width: 76px;
  height: 76px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 22px 15px 22px;
  text-align: center;
  margin-right: 5px;
}

.blog__data span {
  display: inline-block;
  width: 30px;
  height: 50px;
}

.blod__title {
  max-height: 40%;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #c0301c;
}

.blog__subtitle span {
  color: #c0301c;
}

.blog__text {
  font-size: 0.875rem;
}

.blog__btn a {
  color: #c0301c;
  font-size: 0.8125rem;
}

.brands-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f8f8f8;
  min-height: 477px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.brands-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 150px;
}

.brands__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 898px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
  margin-left: 5px;
}

.brands__img img:first-child {
  margin-left: 0;
}

.brands__quotes-cont {
  width: 100%;
  max-width: 790px;
  position: relative;
}

.brands__button-lft {
  position: absolute;
  top: 10%;
  left: -7%;
}

.brands__button {
  position: absolute;
  bottom: -80%;
  right: 45%;
}

@media screen and (max-width: 687px) {
  .brands__button {
    right: 42%;
  }
}

.brands__button__a {
  display: inline-block;
  background-color: #dddddd;
  width: 13px;
  height: 13px;
  border: 5px solid #dddddd;
  border-radius: 50%;
}

.brands__button_red {
  background-color: #c0301c;
  border: 5px solid #c0301c;
}

.brands__quotes {
  max-width: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-align: center;
}

.brands__quotes__container {
  min-width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 1s;
  transition: 1s;
}

.brands__quote {
  max-width: 790px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.blocked {
  display: none;
}

.brands__author {
  margin-top: 15px;
}

input::-webkit-input-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

input::-moz-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

.get__text-area::-webkit-input-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

.get__text-area::-moz-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

/* Firefox 19+ */
.get__text-area:-moz-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

/* Firefox 18- */
.get__text-area:-ms-input-placeholder {
  color: #555555;
  font-size: 0.75rem;
}

.get-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.get-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-container h2 {
  font-size: 1.25rem;
  margin-bottom: 6%;
  position: relative;
  color: #555555;
}

.get-container h2::after {
  content: "";
  position: absolute;
  width: 50px;
  border-bottom: 2px solid #707070;
  top: 50px;
  left: 35%;
}

.get__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle {
  margin-bottom: 20px;
}

.contact {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.get__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0.75rem;
}

.name_mail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.subject {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.get__input {
  width: 100%;
  margin: 2px;
}

.get__text-area {
  width: 97%;
}
/*# sourceMappingURL=style.css.map */