body {
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}
a {
    text-decoration: none;
}

@mixin wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
@mixin container {
    width: 98%;
    max-width: 1140px;
    margin: 0 auto;
}

//---------HEADER---------

.header-wrapper {
    @include wrapper;
    min-height: 770px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/header__back.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}
.header-container {
    @include container;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    min-height: 770px;
    color: #ffffff;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 370px) {
        flex-direction: column;
    }
}
.logo {
    font-size: 1.5rem;
    align-self: center;
    @media screen and (max-width: 425px) {
        flex-basis: 10%;
    }
}
.navigation {
    box-sizing: border-box;
    flex-basis: 50%;
    @media screen and (max-width: 425px) {
        flex-basis: 85%;
    }
}
.navigation__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    @media screen and (max-width: 425px) {
        padding-left: 2px;
        box-sizing: border-box;
    }
    @media screen and (max-width: 370px) {
        flex-wrap: wrap;
    }
}
.naavigation__item {
    margin-left: 2%;
    position: relative;

    &:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        border-bottom: 1px solid white;
    }
    &:hover {
        transform: scale(1.2);
    }
}
.navigation__addres {
    color: #ffffff;
    font-size: 0.875rem;
}

.header-middle {
    display: flex;
    height: 100%;
    min-height: 770px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h2 {
        font-size: 1.25rem;
        color: white;
        text-align: center;
    }
}

.header__btn {
    margin-top: 5%;
    width: 15%;
    height: 100%;
    text-align: center;
    position: relative;
    @media screen and( max-width: 735px) {
        width: 30%;
        height: 200%;
    }
    @media screen and( max-width: 348px) {
        width: 30%;
        left: -30px;
    }
    .btm__a {
        display: block;
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-size: 1rem;
        transition: 0.4s;
        text-align: center;
        @media screen and( max-width: 348px) {
            width: 150%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 300%;
            border: 1px solid white;
            top: -18px;
            left: -3px;
            @media screen and( max-width: 348px) {
                height: 300%;
                width: 150%;
            }
        }
        &:hover {
            transform: scale(1.3);
        }
    }
}

//---------------SERVICES-------------
.services-wrapper {
    @include wrapper;
    min-height: 500px;
    background-color: white;
    @media screen and(max-width:570px) {
        min-height: 300px;
    }
}
.services-container {
    @include container;
    display: flex;
    min-height: 400px;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #555555;
    h2 {
        font-size: 1.25rem;
        margin-bottom: 6%;
        position: relative;
        color: #555555;
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            border-bottom: 2px solid #707070;
            top: 50px;
            left: 25%;
        }
    }

    span {
        margin-bottom: 6%;
        font-size: 1rem;
    }
}
.service__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service__item {
    min-height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
}
.item__img {
    margin: 0 auto;
    img {
        object-fit: cover;
        object-position: center center;
    }
}
.item__title {
    text-align: center;
    font-size: 0.875rem;
}
.item__text {
    text-align: center;
    min-height: 82px;
    line-height: 24px;
    font-size: 0.875rem;
}

//--------------ABOUT-US----------------
.about-us-wrapper {
    @include wrapper;
    min-height: 852px;
    background-color: #f8f8f8;
    @media screen and(max-width:570px) {
        min-height: 500px;
    }
}
.about-us-container {
    @include container;
    min-height: 852px;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #555555;
    @media screen and(max-width:570px) {
        min-height: 500px;
    }
    h2 {
        font-size: 1.25rem;
        margin-bottom: 6%;
        position: relative;
        color: #555555;
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            border-bottom: 2px solid #707070;
            top: 50px;
            left: 25%;
        }
    }
}
.about-us__text {
}
.about-us__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-us__item {
    flex-basis: 49%;
    min-height: 133px;
    text-align: left;
}
.about-us__team {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-us__person {
}
.about-us__img {
    position: relative;

    .about-us__imgItem {
        max-width: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .about-us__info {
        position: absolute;
        width: 100%;
        height: 98%;
        background-color: rgba(85, 85, 85, 0.5);
        top: 0;
        visibility: hidden;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        box-sizing: border-box;
        padding: 0 10% 5% 10%;

        .about-us__soc {
            width: 200%;
            height: 200%;
            box-sizing: border-box;
            padding: 30%;
            &:hover {
                background-color: rgba(192, 48, 28, 0.8);
            }
            img {
                box-sizing: border-box;
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.about-us__img:hover .about-us__info {
    visibility: visible;
}
.about-us__name {
}
.about-us__prof {
}
.about-us__left-btn {
}
.about-us__right-btn {
}

//-----------------LATEST-WORK------------------------
.latest-work-wrapper {
    @include wrapper();
    min-height: 100%;
}
.latest-work-container {
    @include container();
    display: flex;
    min-height: 400px;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2 {
        font-size: 1.25rem;
        margin-bottom: 6%;
        position: relative;
        color: #555555;
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            border-bottom: 2px solid #707070;
            top: 50px;
            left: 53px;
        }
    }
}
.latest-work__filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 36%;
    min-width: 300px;
    margin-bottom: 2%;
    .latest-work__addres {
        color: #555555;
    }
    .latest-work__addres:active {
        color: #c0301c;
    }
    .active {
        color: #c0301c;
    }
}

.filter-item {
}
.latest-work__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}
.latest-work__item {
    position: relative;
}
.latest-work__back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(192, 48, 28, 0.6);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.latest-work__title {
    color: white;
    font-size: 1.125rem;
}
.latest-work__btn {
    text-align: center;
    box-sizing: border-box;
    width: 20%;
    height: 10%;
    padding: 1.5%;
    font-size: 0.875rem;
    background-color: white;
    border: 1px solid #707070;

    &:hover {
        background: rgba(255, 255, 224, 0.8);
    }
}
.latest-work__a {
    color: #c0301c;
}
.latest-work__item:hover .latest-work__back {
    visibility: visible;
}
.latest-work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.NotFilter {
    display: none;
}

//--------------------DO-YOU-LIKE-------------------
.do-you-like-wrapper {
    @include wrapper();
    margin-top: 100px;
    min-height: 369px;
    background: linear-gradient(rgba(192, 48, 28, 0.5), rgba(192, 48, 28, 0.5)),
        url("img/doyoulike.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.do-you-like__title {
    font-size: 1.875rem;
    color: white;
}
.do-you-like__btn {
    a {
        color: white;
        font-size: 1.125rem;
        position: relative;
        text-align: center;
        &::after {
            content: "";
            position: absolute;
            width: 150%;
            height: 200%;
            border: 1px solid white;
            top: -10.5px;
            left: -32.09px;
            transition: 0.3s;
        }
        &:hover::after {
            transform: scale(1.2);
        }
    }
}
//--------------------BLOG-------------------
.blog-wrapper {
    @include wrapper();
}
.blog-container {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 1.25rem;
        margin-bottom: 6%;
        position: relative;
        color: #555555;
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            border-bottom: 2px solid #707070;
            top: 50px;
            left: 82px;
        }
    }
}
.blog__item {
    margin-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 76px;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
        bottom: -38px;
        left: 0;
    }
    &:last-child::after {
        margin-bottom: 0;
        border-bottom: none;
    }
}
.blog__img {
    width: 40%;
    display: flex;
    align-items: center;
    margin-right: 40px;

    img {
        max-width: 100%;
        object-fit: cover;
        object-position: center center;
        //min-width: 300px;
    }
}
.blog__side {
    width: 60%;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}
.blog__top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 60%;
    max-height: 200px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.blog__data {
    border: 2px solid #555555;
    width: 76px;
    height: 76px;
    box-sizing: border-box;
    padding: 18px 22px 15px 22px;
    text-align: center;
    margin-right: 5px;
    span {
        display: inline-block;
        width: 30px;
        height: 50px;
    }
}
.blod__title {
    max-height: 40%;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #c0301c;
}
.blog__subtitle {
    span {
        color: #c0301c;
    }
}
.blog__text {
    font-size: 0.875rem;
}
.blog__btn {
    a {
        color: #c0301c;
        font-size: 0.8125rem;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            border-bottom: 2px solid #c0301c;
            bottom: -5px;
            left: 0;
            transform: scale(0);
            transition: 0.3s;
        }
        &:hover::after {
            transform: scale(1);
        }
    }
}
//-------------BRANDS-------------------
.brands-wrapper {
    @include wrapper();
    margin-top: 50px;
    background-color: #f8f8f8;
    min-height: 477px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and(max-width:570px) {
        min-height: 300px;
        margin-top: 10px;
    }
}
.brands-container {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 150px;
}
.brands__imgs {
    display: flex;
    width: 100%;
    max-width: 898px;
    justify-content: space-between;
    align-items: center;
}
.brands__img {
    img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        margin-left: 5px;
    }
    img:first-child {
        margin-left: 0;
    }
}
.brands__quotes-cont {
    width: 100%;
    max-width: 790px;
    position: relative;
    @media screen and(max-width:788px) {
        width: 80%;
        margin: 0 auto;
    }
}
.brands__button-lft {
    position: absolute;
    top: 10%;
    left: -7%;
}
.brands__button {
    position: absolute;
    bottom: -80%;
    right: 45%;
    @media screen and (max-width: 687px) {
        right: 42%;
    }
    @media screen and(max-width:570px) {
        bottom: -50%;
    }
}
.brands__button__a {
    display: inline-block;
    background-color: #dddddd;
    width: 13px;
    height: 13px;
    border: 5px solid #dddddd;
    border-radius: 50%;
}
.brands__button_red {
    background-color: #c0301c;
    border: 5px solid #c0301c;
}
.brands__quotes {
    max-width: 790px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    @media screen and(max-width:788px) {
        min-width: 100%;
    }
}
.brands__quotes__container {
    min-width: 300%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    @media screen and(max-width:788px) {
        min-width: 100%;
    }
}
.brands__quote {
    max-width: 790px;
    flex: 0 0 100%;
    @media screen and(max-width:788px) {
        max-width: 100%;
    }
}
.blocked {
    display: none;
}
.brands__text {
}
.brands__author {
    margin-top: 15px;
}

//-------------------GET----------------

input::-webkit-input-placeholder {
    color: #555555;
    font-size: 0.75rem;
}
input::-moz-placeholder {
    color: #555555;
    font-size: 0.75rem;
} /* Firefox 19+ */
input:-moz-placeholder {
    color: #555555;
    font-size: 0.75rem;
} /* Firefox 18- */
input:-ms-input-placeholder {
    color: #555555;
    font-size: 0.75rem;
}
.get__text-area::-webkit-input-placeholder {
    color: #555555;
    font-size: 0.75rem;
}
.get__text-area::-moz-placeholder {
    color: #555555;
    font-size: 0.75rem;
} /* Firefox 19+ */
.get__text-area:-moz-placeholder {
    color: #555555;
    font-size: 0.75rem;
} /* Firefox 18- */
.get__text-area:-ms-input-placeholder {
    color: #555555;
    font-size: 0.75rem;
}

.get-wrapper {
    @include wrapper();
}
.get-container {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 1.25rem;
        margin-bottom: 6%;
        position: relative;
        color: #555555;
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            border-bottom: 2px solid #707070;
            top: 50px;
            left: 35%;
        }
    }
}

.get__item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.subtitle {
    margin-bottom: 20px;
}
.contact {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.get__adr {
    margin-bottom: 15%;
    position: relative;
    &::before {
        width: 12px;
        height: 18px;
        position: absolute;
        left: -29px;
        content: "";
        background: url("icons/map.svg") no-repeat;
        @media screen and(max-width:570px) {
            left: -15px;
        }
    }
    @media screen and(max-width:570px) {
        margin-bottom: 5px;
        margin-left: 25px;
    }
}
.get__adrtext {
    margin-top: 5%;
    font-size: 0.75rem;
    line-height: 18px;
}
.get__tel {
    position: relative;
    margin-bottom: 15%;
    &::before {
        width: 12px;
        height: 20px;
        position: absolute;
        left: -30px;
        content: "";
        background: url("icons/mobile.svg");
        @media screen and(max-width:570px) {
            left: -15px;
        }
    }
    @media screen and(max-width:570px) {
        margin-bottom: 5px;
        margin-left: 25px;
    }
}
.get__teltext {
    font-size: 0.75rem;
    margin-top: 5%;
    line-height: 18px;
}
.get__mail {
    margin-bottom: 15%;
    position: relative;
    &::before {
        width: 15px;
        height: 11px;
        position: absolute;
        left: -30px;
        content: "";
        background: url("icons/mail.svg");
        @media screen and(max-width:570px) {
            left: -15px;
        }
    }
    @media screen and(max-width:570px) {
        margin-bottom: 5px;
        margin-left: 25px;
    }
}

.get__mailtext {
    font-size: 0.75rem;
    margin-top: 5%;
    line-height: 18px;
}

.get__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 0.75rem;
    min-width: 60%;
}

.name_mail {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 2.8%;
    @media screen and(max-width:392px) {
        max-width: 90%;
    }
}
.subject {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 2.8%;
    flex-direction: row;
    @media screen and(max-width:392px) {
        max-width: 90%;
    }
}
.get__input {
    width: 50%;
    height: 30px;
    margin: 2px;
    margin-right: 7%;
    @media screen and (max-width: 706px) {
        margin-right: 1%;
    }
    @media screen and(max-width:570px) {
        // max-width: 50%;
    }
    &:last-child {
        margin-right: 0;
    }
}
.get__text-area {
    width: 98.7%;
    margin-bottom: 2.8%;
    @media screen and (max-width: 706px) {
        width: 95%;
    }
    @media screen and(max-width:570px) {
        max-width: 80%;
        margin-left: -15%;
    }
}
.get__submit {
    min-width: 100%;
    display: flex;
    flex-direction: row;
}
.get__sub {
    font-size: 0.75rem;
    max-width: 170px;
}
.get__text {
    span {
        color: red;
    }
}

//----------------------footer---------------
.footer-wrapper {
    @include wrapper();
    min-height: 307px;
    background: #c0301c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
    @media screen and(max-width:570px) {
        min-height: 200px;
    }
}
.footer-container {
    @include container();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    @media screen and(max-width:570px) {
        min-height: 100px;
    }
}
.footer__socials {
    width: 50%;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    color: #555555;
    &::after {
        content: "";
        position: absolute;
        width: 20%;
        border-bottom: 2px solid white;
        top: 75px;
        left: 40%;
    }
}
.footer__social {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2);
    }
}
.footer__a {
    display: block;
    width: 100%;
    height: 100%;
    img {
        margin: 9px;
        width: 50%;
        height: 50%;
    }
}
.footer__copyright {
    font-size: 0.75rem;
}
